<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>getdemoTH.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BACA86891D9147ED000928C8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BACA869D1D9147ED000928C8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BACA86A81D9147EE000928C8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
